.cart-status{
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: .5rem;

  .article-number{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2E7DF0;
    color: white;
    width: 1rem;
    height: 1rem;
    font-size: smaller;
    border-radius: .75rem;
    position: absolute;
    top: -5px;
    left: 15px;
  }
  .cart-price{
    cursor: pointer;
  }
}
