.categories{
  padding: 3rem 1.5rem;
  background: white;
  width: 250px;
  height: 100%;
  h2{
    color:#777474;
    font-weight: normal;
    margin-bottom: 1rem;
  }
  p{
    margin-left: 1rem;
    margin-top: .5rem;
    font-size: 1.1rem;
  }
}
