<div [formGroup]="myForm" class="checkout-container">
  <h1>Shipping</h1>
  <div class="form-card">
    <div class="form-line">
      <div [ngClass]="{'error': !fullName?.valid && fullName?.touched}" class="form-input">
        <label>Full Name</label>
        <input formControlName="fullName">
      </div>
      <div [ngClass]="{'error': !email?.valid && email?.touched}" class="form-input">
        <label>Email</label>
        <input formControlName="email">
      </div>
    </div>
    <div class="form-line">
      <div [ngClass]="{'error': !address?.valid && address?.touched}" class="form-input">
        <label>Address</label>
        <input formControlName="address">
      </div>
      <div [ngClass]="{'error': !phone?.valid && phone?.touched}" class="form-input">
        <label>Phone</label>
        <input formControlName="phone">
      </div>
    </div>
    <div  class="form-line">
      <div [ngClass]="{'error': !city?.valid && city?.touched}" class="form-input">
        <label>City</label>
        <input formControlName="city">
      </div>
      <div [ngClass]="{'error': !zipCode?.valid && zipCode?.touched}" class="form-input">
        <label>Zip Code</label>
        <input formControlName="zipCode">
      </div>
      <div [ngClass]="{'error': !country?.valid && country?.touched}" class="form-input">
        <label>Country</label>
        <input formControlName="country">
      </div>
    </div>
  </div>

  <h1>Payment</h1>

  <div class="form-card">
    <div class="form-line">
      <div [ngClass]="{'error': !nameOnCard?.valid && nameOnCard?.touched}" class="form-input">
        <label>Name On Card</label>
        <input formControlName="nameOnCard">
      </div>
      <div [ngClass]="{'error': !cardNumber?.valid && cardNumber?.touched}" class="form-input">
        <label>Card Number</label>
        <input formControlName="cardNumber">
      </div>
    </div>
    <div  class="form-line">
      <div [ngClass]="{'error': !expMonth?.valid && expMonth?.touched}" class="form-input">
        <label>Exp Month</label>
        <input formControlName="expMonth">
      </div>
      <div [ngClass]="{'error': !expYear?.valid && expYear?.touched}" class="form-input">
        <label>Exp Year</label>
        <input formControlName="expYear">
      </div>
      <div [ngClass]="{'error': !securityCode?.valid && securityCode?.touched}" class="form-input">
        <label>Security Code</label>
        <input formControlName="securityCode">
      </div>
    </div>
  </div>

  <div  class="button-container">
    <button (click)="onSubmit()">Purchase</button>
  </div>
</div>
